In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("imputed_median.csv")

In [ ]:
data.columns

Index(['Unnamed: 0', 'class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000',
       'af_000', 'ag_000', 'ag_001',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=172)

In [ ]:
data['class'].unique()

array([0., 1.])

In [ ]:
#Dropping the unwanted column 
data_tf=data.drop(columns=['Unnamed: 0'])
data_tf.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,60.0,0.0,20.0,12.0,0.0,0.0,0.0,0.0,0.0,...,1098.0,138.0,412.0,654.0,78.0,88.0,0.0,0.0,0.0,0.0
1,0.0,82.0,0.0,68.0,40.0,0.0,0.0,0.0,0.0,0.0,...,1068.0,276.0,1620.0,116.0,86.0,462.0,0.0,0.0,0.0,0.0
2,0.0,66002.0,2.0,212.0,112.0,0.0,0.0,0.0,0.0,0.0,...,495076.0,380368.0,440134.0,269556.0,1315022.0,153680.0,516.0,0.0,0.0,0.0
3,0.0,59816.0,0.0,1010.0,936.0,0.0,0.0,0.0,0.0,0.0,...,540820.0,243270.0,483302.0,485332.0,431376.0,210074.0,281662.0,3232.0,0.0,0.0
4,0.0,1814.0,0.0,156.0,140.0,0.0,0.0,0.0,0.0,0.0,...,7646.0,4144.0,18466.0,49782.0,3176.0,482.0,76.0,0.0,0.0,0.0

In [ ]:
# Segregating data into X & y 
X = data_tf.drop("class",axis=1)
y = data_tf['class']

In [ ]:
# Splitting data into train & test datasets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

Adaboost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
ab_model=AdaBoostClassifier()

In [ ]:
ab_model.fit(X_train,y_train)

AdaBoostClassifier()

In [ ]:
# Model Score
ab_model.score(X_train,y_train)

0.9915263157894737

In [ ]:
y_predict_ab=ab_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict_ab)

0.9894736842105263

Observation
- model score is: 100%
- test accuracy score is :100%

6. Gradient Boost

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
model_gbm=GradientBoostingClassifier()

In [ ]:
model_gbm.fit(X_train,y_train)

ValueError: ignored

In [ ]:
# model Score
model_gbm.score(X_train,y_train)

0.9959473684210526

In [ ]:
y_pred_gbm=model_gbm.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_gbm)

0.9907894736842106